@use "sass:list";
@use "sass:color";

@tailwind base;
@tailwind components;
@tailwind utilities;

$font-stack: Helvetica, Arial;
$primary-color: #333;

html, body {
    margin: 0;
    padding: 0; 
    
    $font-stack: list.append($font-stack, sans-serif);
    font: $font-stack;
}