{% extends "_frame.njk" %} 

{% block styles %}
<link rel="stylesheet" href="/index.css">
{% endblock %} 

{% block title %} Main Page {% endblock %} 

{%block content %}
Page Not found
{% endblock %} 