.icon {
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  @apply inline-block;
}

.arrow {
  mask-image: url("icons/arrow.svg");
  -webkit-mask-image: url("icons/arrow.svg");
}

.chevron {
  mask-image: url("icons/chevron.svg");
  -webkit-mask-image: url("icons/chevron.svg");
}

.search {
  mask-image: url("icons/search.svg");
  -webkit-mask-image: url("icons/search.svg");
}

.linkedin {
  mask-image: url("icons/linkedin.svg");
  -webkit-mask-image: url("icons/linkedin.svg");
}

.twitter {
  mask-image: url("icons/twitter.svg");
  -webkit-mask-image: url("icons/twitter.svg");
}

.facebook {
  mask-image: url("icons/facebook.svg");
  -webkit-mask-image: url("icons/facebook.svg");
}

.github {
  mask-image: url("icons/github.svg");
  -webkit-mask-image: url("icons/github.svg");
}

.pen {
  mask-image: url("icons/pen.svg");
  -webkit-mask-image: url("icons/pen.svg");
}

.time {
  mask-image: url("icons/time.svg");
  -webkit-mask-image: url("icons/time.svg");
}

.video {
  mask-image: url("icons/video.svg");
  -webkit-mask-image: url("icons/video.svg");
}

.play {
  mask-image: url("icons/play.svg");
  -webkit-mask-image: url("icons/play.svg");
}