.icon {
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    @apply inline-block;
}


.arrow {
    mask-image: url('images/icons/arrow.svg');
    -webkit-mask-image: url('images/icons/arrow.svg');
}

.chevron {
    mask-image: url('images/icons/chevron.svg');
    -webkit-mask-image: url('images/icons/chevron.svg');
}

.search {
    mask-image: url('images/icons/search.svg');
    -webkit-mask-image: url('images/icons/search.svg');
}

.linkedin {
    mask-image: url('images/icons/linkedin.svg');
    -webkit-mask-image: url('images/icons/linkedin.svg');
}

.twitter {
    mask-image: url('images/icons/twitter.svg');
    -webkit-mask-image: url('images/icons/twitter.svg');
}

.github {
    mask-image: url('images/icons/github.svg');
    -webkit-mask-image: url('images/icons/github.svg');
}

